# Bỏ qua các thư viện đã được cài đặt bên trong container
node_modules

# Bỏ qua các file log của npm
npm-debug.log

# Bỏ qua các file cấu hình của Git và Docker
.git
.gitignore
Dockerfile
.dockerignore